/* List */

.list {
  counter-reset: list;
  flex-grow: 1;
  overflow: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

$listItemBullet-color: $blue-dark;
$listItemBullet-background: $white;

$listItemAlternate-background: rgba($white, .075);

.listItem {
  position: relative;
  overflow: hidden;
  padding: $gap;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:before {
    @include tx-pseudo(relative, inline-block);
    @include tx-sprite-block($spt-pass);
    top: .05em;
    content: counter(list);
    counter-increment: list;
    border-radius: 50%;
    margin: 0 $gap 0 0;
    color: $listItemBullet-color;
    background: $listItemBullet-background;
    font-weight: bold;
    text-align: center;
    line-height: txf-sprite-height($spt-pass);
    vertical-align: top;
  }

  &-is-pass {

    &:before {
      @include tx-sprite-image($spt-pass);
      @include tx-sprite-position($spt-pass);
      content: '';
    }

  }

  &-is-warning {

    &:before {
      @include tx-sprite-image($spt-warning);
      @include tx-sprite-position($spt-warning);
      content: '';
    }

  }

  &-is-error {

    &:before {
      @include tx-sprite-image($spt-error);
      @include tx-sprite-position($spt-error);
      content: '';
    }

  }

  &:nth-child(odd) {
    background: $listItemAlternate-background;
  }

}

.removeItem {
  @include tx-sprite($spt-close, true, true);
  position: absolute;
  top: 50%;
  right: $gap;
  display: block;
  overflow: hidden;
  margin: (txf-sprite-height($spt-close) / -2) 0 0;
}
